.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.form1{
  -webkit-box-shadow: -2px -1px 22px 0px rgba(0,0,0,0.75);


-moz-box-shadow: -2px -1px 22px 0px rgba(0,0,0,0.75);
box-shadow: -2px -1px 22px 0px rgba(0,0,0,0.75);
  margin-top:20px;
  margin-left:20px;
  flex-direction: column;
  background-color: #61dafb;
  width: 350px;
  border-width: 1px;
  border-color: pink;
}

.button {
  margin-bottom: 10px;
  width:100px;
  background-color: aquamarine;
  border-radius: 5px;
  height: 40px;
}
.input{
  width: 300px;
  height: 30px;
  border-radius: 10px;
  margin:10px;
}
.label {
  flex-direction: row;
  justify-content: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.user-info-form {
  width: 100vh;
  justify-content: center;
  align-items: center;
}

/* Header */
.header {
  width: 100%;
  height: 100vh;
  padding-top: 15rem;
  padding-bottom: 5rem;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  position: relative;
}

.title,
.subtitle {
  width: 60rem;
  max-width: 100%;
}

.title {
  font-size: 7.2rem;
}

.subtitle {
  margin-bottom: 3rem;
}
